html, body {
    font-family: "Tahoma", sans-serif;
    font-size: 13px;
}

span.logo_ay {
    position: absolute;
    right: -36px;
    top: -21px;
    font-size: 29px;
}

#logo {
    left: -5px;
}

.card .card-header .floating-actions {
    left: 35px;
    right: auto;
}

main {
    padding-right: 260px;
    padding-left: 0px !important;
}

@media (min-width: 993px) {
    .navbar-fixed-top {
        margin-right: 260px !important;
        margin-left: 0 !important;
    }
}

table, table tr, table td, table th {
    text-align: right;
}

.footer-buttons {
    right: auto;
    left: 20px;
}

main {
    padding-bottom:45px;
}