table.sortable tr {
    position: relative;
    cursor: pointer;
}

table.sortable tr::before {
    content: '::';
    color: #e91e63;
    position: absolute;
    left: 100%;
    cursor: pointer;
    /*top: 40px;*/
}

table.sortable thead tr::before {
    content: '';
}

.center-btn { text-align: center }

#logo .foot2, #logo .foot4 {
    background-color: #00aba9;
}

#logo .foot1, #logo .foot3 {
    background-color: #00d3d1;
}